<div class='account-card {{if active 'active-card' 'removable'}}'>
	<div class='col-region'>
		<span>{{env}}</span>
	</div>
	<div class='col-image' {{action 'switchaccounts'}}>
		<img src={{profileImg}} title='Select Account' alt='profile pic' />
	</div>
	<div class='col-info' {{action 'switchaccounts'}}>
		<span class='name' title={{me.name}}>
			{{me.name}}
		</span>
		<span class='org' title={{me.organization.name}}>
			{{me.organization.name}}
		</span>
	</div>

	{{#if checked}}
		<div class='col-checkbox'>
			<input type='checkbox' id='confirmChanges' name='confirmSettings' {{action 'checkAccount' accountInfo on='input'}} checked />
			<label for='confirmChanges'>Confirm Changes</label>
		</div>
	{{else}}
		<div class='col-checkbox'>
			<input type='checkbox' id='confirmChanges' name='confirmSettings' {{action 'checkAccount' accountInfo on='input'}} />
			<label for='confirmChanges'>Confirm Changes</label>
		</div>
	{{/if}}

	<div class='col-remove-button' title='Delete Account' {{action 'deleteAccount' me.id}}>
		<i class='fa fa-times remove-button'></i>
	</div>
	{{#if lastAccount}}
		<i class='fa fa-times remove-button'></i>
	{{/if}}
</div>