{{#if (eq showDefaultHeader false)}}
{{else}}
<p class="small text-muted">
    Behaves like a SQL WHERE clause. This is ANDed with the interval parameter. Expresses boolean logical predicates as well as dimensional filters.
</p>
{{/if}}

<form class="form form-horizontal form-flex form-flex-1-col">
    <div class="form-group">
        <div class="control-label">
            <label>Type</label>
        </div>
        {{select-box items=types selectedItem=selectedType class=form-control}}
    </div>
</form>

<dl class="dl-horizontal">
    <dt>Clauses</dt>
    <dd>
        <p class="small text-muted">
            Boolean 'and/or' logic with up to two-levels of nesting.
        </p>

        {{#each clauses as |clause index|}}
        {{analytics-query-clause clause=clause index=index updateClause=(action 'updateClause') deleteClause=(action 'deleteClause') }}
        {{/each}}

        <button class='btn btn-link btn-sm' {{action 'newClause'}} title="Add Clause">
            <i class="pc-moon pc-create-room"></i>Add Clause
        </button>
    </dd>

    <dt>Predicates</dt>
    <dd>
        <p class="small text-muted">
            Like a three-word sentence: (attribute-name) (operator) (target-value). These can be one of three types: dimension, property, metric..
        </p>

        {{#each predicates as |predicate index|}}
        {{analytics-query-predicate predicate=predicate index=index updatePredicate=(action 'updatePredicate') deletePredicate=(action 'deletePredicate')}}

        {{/each}}

        <button class='btn btn-link btn-sm' {{action 'newPredicate'}} title="Add Predicate">
            <i class="pc-moon pc-create-room"></i>Add Predicate
        </button>
    </dd>
</dl>


