<form class="form form-horizontal form-horizontal-labels-left form-flex form-flex-1-col form-flex-has-delete">
    <div class="form-group">
        <div class="control-label">
            <label>Type</label>
        </div>
        {{select-box items=types selectedItem=selectedType class='capitalize'}}
        <button class='btn btn-link btn-delete' {{action 'delete'}}>
            <i class="ion-close-round" aria-hidden="true"></i>
        </button>
    </div>
    <div class="form-group form-group-offset">
        <label class='control-label capitalize'>{{selectedType}}</label>
        {{#if (eq selectedType 'dimension')}}
        {{select-box items=dimensions selectedItem=lhsValue}}
        {{/if}}
        {{#if (eq selectedType 'property')}}
        {{select-box items=propertyTypes selectedItem=lhsValue}}
        {{/if}}
        {{#if (eq selectedType 'metric')}}
        {{select-box items=metrics selectedItem=lhsValue}}
        {{/if}}
    </div>
    <div class="form-group form-group-offset">
        <label class="control-label">Operator</label>
        {{#if (eq selectedType 'metric')}}
            {{select-box items=numericRangeOperators selectedItem=selectedOperator class='capitalize'}}
        {{else}}
            {{select-box items=operators selectedItem=selectedOperator class='capitalize'}}
        {{/if}}
    </div>
     <div class="form-group form-group-offset">
            <label class="control-label">Value</label>
        {{#if isDevOrStaging}}
            {{log "selectedType: " selectedType}}
            {{log "selectedOperator: " selectedOperator}}
        {{/if}}
        {{#if (eq selectedType 'metric')}}
            {{input class='form-control' value=value}}
        {{else}}
            {{#if (eq selectedOperator "matches")}}
        
                {{#if (eq lhsValue "queueId")}}
                {{select-box-advanced idKey='id' nameKey='name' items=queues selectedItem=value includeBlank=true}}
                {{else if (eq lhsValue "userId")}}
                {{select-box-advanced idKey='id' nameKey='name' items=users selectedItem=value includeBlank=true}}
                {{else if (eq lhsValue "systemPresence")}}
                {{select-box-advanced idKey='id' nameKey='name' items=systemPresence selectedItem=value includeBlank=true}}
                {{else if (eq lhsValue "organizationPresenceId")}}
                {{select-box-advanced idKey='id' nameKey='name' items=organizationPresence selectedItem=value includeBlank=true}}
                {{else if (eq lhsValue "routingStatus")}}
                {{select-box-advanced idKey='name' nameKey='name' items=routingStatus selectedItem=value includeBlank=true}}
                {{else if (eq lhsValue "mediaType")}}
                {{select-box items=mediaTypes selectedItem=value}}
                {{else}}
                {{input class='form-control' value=value}}
                {{/if}}

            {{else}}
            {{input class='form-control' value=value}}
            {{/if}}
        {{/if}}
    </div>
</form>
