<form class="form form-horizontal form-horizontal-labels-left form-flex form-flex-1-col form-flex-has-delete">
    <div class="form-group">
        {{select-box items=aggregationTypes selectedItem=aggregationType}}

        <button class='btn btn-link btn-delete' {{action 'delete'}}>
            <i class="ion-close-round" aria-hidden="true"></i>
        </button>
    </div>

    <div class="form-group form-group-offset">
        {{#if (eq aggregationType 'termFrequency')}}
        {{select-box items=dimensions selectedItem=dimension}}
        {{/if}}
        {{#if (eq aggregationType 'numericRange')}}
        {{select-box items=metrics selectedItem=metric}}
        {{/if}}
    </div>

    <div class="form-group form-group-offset">
        {{#if (eq aggregationType 'termFrequency')}}
        {{input type="number" value=frequencySize class="form-control" }}
        {{/if}}
    </div>

    {{#if (eq aggregationType 'numericRange')}}
    {{analytics-query-range value=range}}
    {{/if}}
</form>