{{#if (eq showDefaultHeader false)}}
{{else}}
<h5>Filter</h5>
<p class="text-muted">
    Behaves like a SQL WHERE clause. This is ANDed with the interval parameter. Expresses boolean logical predicates as well as dimensional filters.
</p>
{{/if}}

<div class="query-indent">
    <div class='row'>
        <div class='col-md-1'>
            <label>Type</label>
        </div>

        <div class='col-md-1'>
            {{select-box items=types selectedItem=selectedType}}
        </div>
    </div>
    <h6>Clauses</h6>
    <p class="text-muted">
        Boolean 'and/or' logic with up to two-levels of nesting.
    </p>
    <div class="query-indent">
        <div class='row'>

            <div class='col-md-11' style='margin-left:30px'>
                {{#each clauses as |clause index|}}
                {{analytics-query-clause clause=clause index=index updateClause=(action 'updateClause') deleteClause=(action 'deleteClause') }}
                {{/each}}
            </div>

        </div>
        <button class='btn btn-default btn-sm top-margin' {{action 'newClause'}} >New Clause</button>
    </div>

    <h6>Predicates</h6>
    <p class="text-muted">
        Like a three-word sentence: (attribute-name) (operator) (target-value). These can be one of three types: dimension, property, metric..
    </p>
    <div class="query-indent">
        <div class='row'>

            <div class='col-md-12'>

                {{#each predicates as |predicate index|}}
                {{analytics-query-predicate predicate=predicate index=index updatePredicate=(action 'updatePredicate') deletePredicate=(action 'deletePredicate')}}

                {{/each}}
            </div>

        </div>
        <button class='btn btn-default btn-sm' {{action 'newPredicate'}}>New Predicate</button>
    </div>
</div>
