<div id='code-editor' class='sub-app'>
    <div class='row'>
        <div class='col-md-6'>
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a id='btn-run-code' class='btn btn-link' href="#" {{action 'run'}}><i class="fa fa-play" aria-hidden="true"></i> Run</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SDK Version:
                            {{#each sdkTags as |sdk index|}}
                            <span {{action 'selectSdk' sdk}}>
                                {{#if (eq selectedSdk sdk)}}
                                <strong>{{sdk}}</strong>
                                {{/if}}
                            </span>
                            {{/each}}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-with-check">
                                {{#each sdkTags as |sdk index|}}
                                <li {{action 'selectSdk' sdk}}>
                                    <a href="#">
                                        {{#if (eq selectedSdk sdk)}}
                                        <i class="fa fa-check"></i> <strong>{{sdk}}</strong>
                                        {{else}}
                                        {{sdk}}
                                        {{/if}}
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Load Code <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{#each codeSamples as |sample index|}}
                            <li {{action 'loadSample' index}}>
                                <a href="#"  >
                                    {{sample.name}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#codeEditorModal" {{action 'showInfo'}}>
                            <i class="pc-moon pc-help"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            {{ace-editor id='ace-code-editor' value=code aceInit=aceInit class="editor " runToggle=runToggle}}
        </div>

            <div class='col-md-6'>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
                    <li role="presentation" class="active" id='console-tab'><a href="#console" aria-controls="console" role="tab" data-toggle="tab">Console Output</a></li>
                    <li role="presentation"><a href="#jsdoc" aria-controls="jsdoc" role="tab" data-toggle="tab">Documentation</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane tab-pane-console active" id="console">
                        {{#if (eq messages.length 0)}}
                        <div class="empty-state">
                            <i class="fa fa-code"></i>
                            <label>No log messages</label>
                        </div>
                        {{else}}
                        <ul class='console-log'>

                            {{#each messages as |message|}}
                            <li class='{{if (consoleMessageHasObject message) "log-editor"}}  log {{message.type}} '>
                                {{#each message.messageParams as |param|}}
                                {{#if param.isObject}}
                                    {{ace-editor value=param.value aceInit=aceConsoleInit class="editor"}}
                                {{else}}
                                    <div class="param">{{param.value}}</div>
                                {{/if}}
                                {{/each}}
                                {{#if message.lineNumber}}
                                Line number: {{message.lineNumber}}
                                {{/if}}
                            </li>

                            {{/each}}

                        </ul>
                        {{/if}}


                    </div>
                    <div role="tabpanel" class="tab-pane" id="jsdoc">
                        <iframe frameborder="0" src="https://developer.mypurecloud.com/api/rest/client-libraries/javascript-noborder/latest/" ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id='code-runner' sandbox='allow-scripts allow-same-origin' scrolling="no" frameborder="0" src={{url}}></iframe>
