{{analytics-query-interval value=interval}}


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Order</h3></div>
    <div class="panel-body">
        <p class="small text-muted">
            Sort the result set in ascending/descending order.
        </p>
        {{select-box items=orderOptions selectedItem=order class=form-control}}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Order By</h3></div>
    <div class="panel-body">
        <p class="small text-muted">
            Specify which data element within the result set to use for sorting.
        </p>
        {{select-box items=orderByOptions selectedItem=orderBy class=form-control}}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Paging</h3></div>
    <div class="panel-body">
        <p class="small text-muted">
            Page size and number to control iterating through large result sets.
        </p>
        <form class="form form-horizontal">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="col-sm-7 control-label">
                        <label>Page Size</label>
                    </div>
                    <div class="col-sm-5">
                        {{input type="number" value=pageSize class="form-control" }}
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="col-sm-7 control-label">
                        <label>Page Number</label>
                    </div>
                    <div class="col-sm-5">
                        {{input type="number" value=pageNumber class="form-control" }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Conversation Filters</h3></div>
    <div class="panel-body">
        <p class="small text-muted">
            Filters that target conversation-level data.
        </p>

        {{#each conversationFilters as |conversationFilter index|}}

        <button class='btn btn-danger btn-xs pull-left' style='margin-left:20px' {{action 'deleteConversationFilter' index}}><i class="fa fa-trash" aria-hidden="true"></i></button>
        <div class='col-md-11'>
            {{analytics-query-filter filter=conversationFilter showDefaultHeader=false index=index updateFilter=(action 'updateConversationFilter')}}
        </div>
        {{/each}}
        <button class='btn btn-default btn-sm' {{action 'newConversationFilter'}} style='margin-top:5px'>New Conversation Filter</button>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Evaluation Filters</h3></div>
    <div class="panel-body">
        <p class="small text-muted">
            Filters that target quality management evaluation-level data.
        </p>

        {{#each evaluationFilters as |evaluationFilter index|}}

        <button class='btn btn-danger btn-xs pull-left' style='margin-left:20px' {{action 'deleteEvaluationFilter' index}}><i class="fa fa-trash" aria-hidden="true"></i></button>
        <div class='col-md-11'>
            {{analytics-query-filter filter=evaluationFilter showDefaultHeader=false index=index updateFilter=(action 'updateEvaluationFilter')}}
        </div>
        {{/each}}
        <button class='btn btn-default btn-sm' {{action 'newEvaluationFilter'}} style='margin-top:5px'>New Evaluation Filter</button>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Segment Filters</h3></div>
    <div class="panel-body">
        <p class="small text-muted">
            Filters that target individual segments within a conversation.
        </p>
        {{#each segmentFilters as |segmentFilter index|}}

        <button class='btn btn-danger btn-xs pull-left' style='margin-left:20px' {{action 'deleteSegmentFilter' index}}><i class="fa fa-trash" aria-hidden="true"></i></button>
        <div class='col-md-11'>
            {{analytics-query-filter filter=segmentFilter showDefaultHeader=false index=index updateFilter=(action 'updateSegmentFilter')}}
        </div>
        {{/each}}

        <button class='btn btn-default btn-sm' {{action 'newSegmentFilter'}} style='margin-top:5px'>New Segment Filter</button>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Query Aggregation</h3></div>
    <div class="panel-body">
        <p class="small text-muted">
            Include faceted search and aggregate roll-ups describing your search results. This does not function as a filter, but rather, summary data about the data matching your filters
        </p>
        <div class="query-indent">

            <div class='col-md-12'>

                {{#each aggregations as |aggregation index|}}
                {{analytics-query-aggregation aggregation=aggregation index=index updateAggregation=(action 'updateAggregation') deleteAggregation=(action 'deleteAggregation')}}
                {{/each}}
            </div>

            <button class='btn btn-default btn-sm' {{action 'newAggregation'}} style='margin-top:5px'>New Aggregation</button>
        </div>
    </div>
</div>
