{{analytics-query-interval value=interval}}
{{analytics-query-granularity value=granularity}}
{{analytics-query-groupby value=groupBy}}

<h2>Flatten Multivalued Dimensions</h2>
<p class="text-muted">
 Flattens any multivalued dimensions used in response groups (e.g. ['a','b','c']->'a,b,c')
 </p>
<div class="checkbox">
    <label>{{input type="checkbox" checked=flattenMultivaluedDimensions }}Flatten Multivalued Dimensions</label>
</div>

{{analytics-query-metrics selectedMetrics=selectedMetrics}}

{{analytics-query-filter filter=filter}}



{{run-analytics-query queryJson=queryJson queryResult=queryResult runQuery=(action 'runQuery')}}
