<div
	class='{{if orgauthorizationService.isInTrustedOrg 'trusted-org-header'}} {{if showMe 'active'}} user-menu-right'
	title='My Information'
	{{action 'toggleMe'}}
>
	{{#if isStandalone}}
		<img src={{profileImg}} class='img-circle profile-image' />
	{{else}}
		<div class='fa fa-id-card' aria-hidden='true'></div>
	{{/if}}
</div>
{{#if showMe}}
	<div id='users-me' class={{if isStandalone 'standalone'}}>
		<h3>Accout Selection</h3>
		{{account-selector}}

		<button type='button' class='close pull-left' aria-label='Close' {{action 'toggleMe'}}><span aria-hidden='true'>&times;</span></button>

		<div class='user-info'>
			{{#if orgauthorizationService.isInTrustedOrg}}
				<a class='link-sign-out hidden-xs' href='#' title='Switch to Home Org' {{action 'switchToHomeOrg' bubbles=false}}>
					<i class='fa fa-home' aria-hidden='true'></i>
					<span>Switch to Home Org</span>
				</a>
			{{/if}}
			{{#if orgauthorizationService.isTrustedOrg}}
				<a class='link-sign-out hidden-xs' href='#' title='Switch to Org Trust' {{action 'toggleTrustedOrgs' bubbles=false}}>
					<i class='fa fa-exchange' aria-hidden='true'></i>
					<span>Switch to Org Trust</span>
				</a>
			{{/if}}
		</div>

		<label>/api/v2/users/me</label>
		<pre class='scrollable {{if isStandalone 'standalone'}}'>
			<code>
				{{meJson}}
			</code>
		</pre>
	</div>
{{/if}}
{{#if showOrgTrusts}}
	<div id='org-trusts' class={{if isStandalone 'standalone'}}>
		<label>Select the org to switch to: </label>
		<br />
		{{#each orgauthorizationService.orgTrusts as |org|}}
			<button type='button' class='btn btn-small btn-primary' {{action 'switchToOrgTrust' org.id}}>{{org.name}}</button>
			<br />
		{{/each}}
	</div>
{{/if}}