
    <div class='pull-left developer-tools'>
        Developer Tools
    </div>
    <div class='pull-left ' style='color:red;font-weight:bold;text-transform: uppercase;'>
        beta
    </div>

<div id='user-info'  class='pull-right' {{action "toggleMe"}}>
    <div class='pull-right' >
        <img src={{me.images.[0].imageUri}} class="img-circle profile-image"/>
    </div>

    <div class='pull-right' >
        {{me.name}}
        <br />
        {{me.organization.name}}
    </div>

</div>

{{#if showMe}}
<div id='users-me' {{action "toggleMe"}}>
    <button type="button" class="close pull-left" aria-label="Close" {{action "toggleMe"}}><span aria-hidden="true">&times;</span></button>
    <label>/api/v2/users/me</label>
    <pre style='height:90%' class='scrollable'>
        <code >
{{meJson}}
        </code>
    </pre>

</div>
{{/if}}
