<div class="{{if orgauthorizationService.isInTrustedOrg 'trusted-org-header'}} user-menu-right ">
    <div id='user-info' {{action "toggleMe"}} >
        <img src={{me.images.[0].imageUri}} class="img-circle profile-image"/>

        <div class="col-text">
            <div class="username hidden-xs">
                {{me.name}}
            </div>

            <div class="org-name hidden-xs" title={{me.organization.name}}>
                {{me.organization.name}}
            </div>
        </div>
        <div>
            {{#if orgauthorizationService.isInTrustedOrg}}
            <a class="link-sign-out hidden-xs" href="#"  title='Switch to Home Org'  {{action 'switchToHomeOrg' bubbles=false}}><i class="fa fa-home" aria-hidden="true"></i> </a>
            {{/if}}
            {{#if orgauthorizationService.isTrustedOrg}}
            <a class="link-sign-out hidden-xs" href="#"  title='Switch to Org Trust'  {{action 'toggleTrustedOrgs' bubbles=false}}><i class="fa fa-exchange" aria-hidden="true"></i> </a>
            {{/if}}

            <a class="link-sign-out hidden-xs" href="#" title='Sign Out' {{action 'logOut' bubbles=false}}>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>

        </div>

    </div>

    {{#if showMe}}
    <div id='users-me'>
        <div class="user-info visible-xs">
            <div class="col-text">
                <div class="username">
                    {{me.name}}
                </div>
                <div class="org-name">
                    {{me.organization.name}}
                </div>
            </div>
            <a class="link-sign-out" href="#" title='Sign Out' {{action 'logOut'}}>
                <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
            </a>
        </div>
        <button type="button" class="close pull-left" aria-label="Close" {{action "toggleMe"}}><span aria-hidden="true">&times;</span></button>
        <label>/api/v2/users/me</label>
        <pre class='scrollable'>
            <code >
    {{meJson}}
            </code>
        </pre>

    </div>
    {{/if}}
    {{#if showOrgTrusts}}
    <div id='org-trusts'>
        <label>Select the org to switch to: </label>

        <br>
        {{#each orgauthorizationService.orgTrusts as |org|}}
        <button type="button" class="btn btn-small btn-primary"  {{action "switchToOrgTrust" org.id}}>{{org.name}}</button>
        {{/each}}

    </div>
    {{/if}}
</div>
