{{#if isPinned}}
<div class='pinned-notifications-tab {{if visible "notification-tab-open"}}' {{action 'toggleVisible'}}>
    <i class="pc-moon pc-bell"></i>
    <span class="badge">{{unreadCount}}</span>
</div>
{{#if visible}}
<div class='pinned-notifications {{if visible "pinned-notifications-open"}} '>
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Notifications</div>
            <span class="hide-help" {{action 'toggleVisible'}}>
                Hide notifications
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
        <div class="panel-body">
            {{#each receivedMessage as |message|}}

            <div class="row">
                <p>{{message.topicName}}</p>
                <p class="body-string">{{ message.bodyString }}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}
{{/if}}
