<h2>{{title}}</h2>
<div class="query-indent">
<div class="row">
    <div class="col-sm-3">
        <label>Available {{title}}</label>
        <select  class="form-control " multiple="true" onchange={{action "selectAvailable"}}>
          {{#each availableItems as |Item|}}
            <option value={{Item}} >{{Item}}</option>
          {{/each}}
        </select>
    </div>

    <div class="col-sm-1">
        <label></label>
        <div class="row two-col-button">

            <button class='btn btn-default' {{action 'selectItems'}}><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        <div class="row two-col-button">
            <button class='btn btn-default' {{action 'removeSelectedItems'}}><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="col-sm-3">
        <label>Selected Items</label>
        <select  class="form-control " multiple="true" onchange={{action "selectSelected"}}>
          {{#each selectedItems as |Item|}}
            <option value={{Item}} >{{Item}}</option>
          {{/each}}
        </select>
    </div>
</div>
</div>
