<div class="col-query-types">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Query Type:
                    {{#each queryTypes as |type index|}}
                    <span {{action 'selectQueryType' type.id}}>
                        {{#if (eq queryType type.id)}}
                        <strong>{{type.name}}</strong>
                        {{/if}}
                    </span>
                    {{/each}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-with-check">
                    {{#each queryTypes as |type index|}}
                    <li {{action 'selectQueryType' type.id}}>
                        <a href="#">
                            {{#if (eq queryType type.id)}}
                            <i class="fa fa-check"></i> <strong>{{type.name}}</strong>
                            {{else}}
                            {{type.name}}
                            {{/if}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </nav>

    <div class="query-type-details">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="lead">{{url}}</span>
            </div>
        </div>
        {{#if (eq queryType "queue_observation")}}
            {{queue-observation-query queryJson=queryJson}}
        {{else if (eq queryType "user_observation")}}
            {{user-observation-query queryJson=queryJson}}
        {{else if (eq queryType "conversation_aggregate")}}
            {{conversation-aggregate-query queryJson=queryJson}}
        {{else if (eq queryType "flow_observation")}}
            {{flow-observation-query queryJson=queryJson}}
        {{else if (eq queryType "flow_aggregate")}}
            {{flow-aggregate-query queryJson=queryJson}}
        {{else if (eq queryType "conversation_detail")}}
            {{conversation-detail-query queryJson=queryJson}}
        {{else if (eq queryType "user_aggregate")}}
            {{user-aggregate-query queryJson=queryJson}}
        {{else if (eq queryType "user_detail")}}
            {{user-detail-query queryJson=queryJson}}
        {{/if}}     

        <!-- keep here to make sure controls at bottom dont get cut off -->
        <p style='height:60px'></p>
    </div>

</div>

<div class='col-generated-query {{if isStandalone 'standalone'}}'>
    {{run-analytics-query queryJson=queryJson queryType=queryType queryResult=queryResult runQuery=(action 'runQuery')}}
</div>
