
<div class="container-full sub-app scroll-sub-app " >
    <div class="row">
        <label class="col-sm-1 form-control-label">Query Type:</label>
        <div class="col-sm-3">
            <select  class="form-control " onchange={{action 'selectQueryType' value="target.value"}}>
              {{#each queryTypes as |type|}}
                <option value={{type.id}} selected={{eq queue type.id}}>{{type.name}}</option>
              {{/each}}
          </select>
        </div>
    </div>

    {{#if (eq queryType "queue_observation")}}
        {{queue-observation-query}}
    {{else if (eq queryType "user_observation")}}
        {{user-observation-query}}
    {{else}}
    not queue observation query
    {{/if}}

</div>
