<div class="col-notification-topics">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Available Topics</h3></div>
        <div class="panel-body">
            <div class="flex-btns">
                <button class="btn btn-default btn-sm" {{action 'subscribeToPresence'}}>Subscribe To My Presence</button>
                <button class="btn btn-default btn-sm" {{action 'subscribeToConversations'}}>Subscribe To My Conversations</button>
            </div>

            <select class="form-control" onchange={{action 'selectNotificationTopic' value="target.value"}}>
                <option value='-1'>More subscriptions&hellip;</option>
                {{#each availableTopics as |topic index|}}
                <option value={{index}}>
                    {{topic.id}}
                </option>
                {{/each}}
            </select>

            {{#if topic}}
            <p class="lead">{{topic.description}}</p>
            {{input value=subscribeId class="form-control"}}
            <button class="btn btn-primary btn-block" {{action 'subscribe'}}>Subscribe</button>
            {{/if}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title panel-title-condensed">Subscribed Topics</h3></div>
        <div class="panel-body">
            <ul class="list-subscriptions">
                {{#each subscriptions as |topic|}}
                <li>
                    {{topic}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<div class="col-received-events {{if isStandalone 'standalone'}}">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title panel-title-condensed">Received Events</h3>
            {{#if isPinned}}
            <button class="btn btn-link btn-xs" {{action 'togglePin'}}><i class="fa fa-thumb-tack   fa-rotate-270" aria-hidden="true"></i>Unpin Notifications</button>
            {{else}}
            <button class="btn btn-link btn-xs" {{action 'togglePin'}}><i class="fa fa-thumb-tack" aria-hidden="true"></i>Pin Notifications</button>
            {{/if}}
        </div>
        <div id='notification-panel' class="panel-body">
            <div class="row bottom-border visible-md visible-lg">
                <div class="col-md-2">
                    <label class="label-col">Time</label>
                </div>
                <div class="col-md-3">
                    <label class="label-col">Topic</label>
                </div>
                <div class="col-md-5">
                    <label class="label-col">Body</label>
                </div>
            </div>
            <div>
                {{#each receivedMessage as |message|}}
                <div class="notification-message row bottom-border">
                    <div class="col-md-2">
                        <p>{{message.time}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{message.topicName}}</p>
                    </div>
                    <div class="col-md-7">
                        <pre><code>{{ message.bodyString }}</code></pre>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
</div>
