<div class="container container-top-padding">
    {{#unless isInChat}}
    <form class="form-horizontal form-webchat">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title panel-title-condensed">
                {{org.thirdPartyOrgName}}
                <span class="org-id-label">Org ID</span>
                <span class="org-id-value">{{org.thirdPartyOrgId}}</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <strong>Chat Configuration</strong> <i>(required)</i>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Deployment</label>
                        <div class="col-sm-8" id="deployment-select-container">
                            {{select-box-advanced idKey='id' nameKey='name' items=deployments selectedItem=deployment includeBlank=true}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                                {{#if needsDeployment}}
                            No web chat deployments found,
                            {{else}}
                            Select a deployment above or
                            {{/if}}
                            <a {{action 'createDeployment'}} href="#">click here</a> to create a new one.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Queue</label>
                        <div class="col-sm-8">
                            {{#if queuesLoading}}
                            <div class='load-indicator load-indicator-sm'><i class="fa fa-spinner fa fa-spin" style='font-size:15px'></i> Loading Queues</div>
                            {{else}}
                            {{select-box-advanced idKey='name' nameKey='name' items=queues selectedItem=queue includeBlank=true}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#if isV1}}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-8 col-md-offset-4" id="deployment-select-container">
                                <div class="checkbox">
                                    <label>{{input type="checkbox" checked=openInNewWindow }}Open Chat in New Window</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            <div class="row">
                <div class="col-md-12">
                    <strong>Chat Data</strong> <i>(optional)</i>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">First Name</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=firstName  placeholder="First Name"}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Last Name</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=lastName  placeholder="Last Name"}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=address  placeholder="Address"}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label hidden-xs"></label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=city  placeholder="City"}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label hidden-xs"></label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=state  placeholder="State"}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label hidden-xs"></label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=zip  placeholder="Zip"}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Phone</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=phone type="tel"  placeholder="Phone" }}
                        </div>
                    </div>

                    {{#if showEmailField}}
                        <div class="form-group row">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                {{input class="form-control" value=email type="email"  placeholder="Email" }}
                            </div>
                        </div>
                    {{/if}}

                    {{#if isV1}}
                        <div class="form-group row">
                            <label class="col-sm-4 control-label">Locale</label>
                            <div class="col-sm-8">
                                {{input class="form-control" value=locale  placeholder="Locale" }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 control-label">Welcome Message</label>
                            <div class="col-sm-8">
                                {{input class="form-control" value=welcomeMessage  placeholder="Welcome Message" }}
                            </div>
                        </div>
                    {{else}}
                        <div class="form-group row">
                            <label class="col-sm-4 control-label">Subject</label>
                            <div class="col-sm-8">
                                {{input class="form-control" value=subject  placeholder="Subject" }}
                            </div>
                        </div>
                    {{/if}}

                    <div class="form-group row">
                        <div class="alert alert-danger" role="alert" id='missingRequiredFields' style='display:none'>Required setting fields are missing.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Field 1 Name</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=field1name type="tel"  placeholder="Custom data field name" }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Field 1 Value</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=field1value type="tel"  placeholder="Custom data value" }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Field 2 Name</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=field2name type="tel"  placeholder="Custom data field name" }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Field 2 Value</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=field2value type="tel"  placeholder="Custom data value" }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Field 3 Name</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=field3name type="tel"  placeholder="Custom data field name" }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Field 3 Value</label>
                        <div class="col-sm-8">
                            {{input class="form-control" value=field3value type="tel"  placeholder="Custom data value" }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Custom Attributes</label>
                         <div class="col-sm-8">
                             <a class="btn btn-primary " {{action 'addCustomAttribute'}} href="#" role="button">
                                <i class="fa fa-plus"></i>
                            </a>
                         </div>
                    </div>
                    {{#each customAttributes as |customAttribute|}}
                        {{webchat-custom-attribute customAttribute=customAttribute
                            onDeleteClicked=(action 'deleteCustomAttribute' customAttribute)}}
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <div class="alert alert-error {{errorVisibility}}" role="alert">{{error}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            {{#if isV1}}
                                <a class="btn btn-primary " {{action 'startChat'}} href="#" role="button">Start Chat</a>
                            {{else}}
                                <a class="btn btn-primary " {{action 'startChatV2'}} href="#" role="button">Start Chat</a>
                            {{/if}}
                            <a class="btn btn-info " {{action 'populate'}} href="#" role="button">Populate Fields</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    {{#if isV1}}
    <div class="panel panel-default">
        <div class="panel-heading">
            Deployment <code>script</code> Tag
        </div>
        <div class="panel-body">
            <pre>
                <code>&lt;script
  id="purecloud-webchat-js"
  type="text/javascript"
  src="https://apps.{{chatEnvironment}}/webchat/jsapi-v1.js"
  region="{{chatRegion}}"
  org-guid="{{org.id}}"
  deployment-key="{{deployment}}"{{chatEnvTag}}
>&lt;/script></code>
            </pre>
        </div>

    </div>
    {{/if}}

    <div class="panel panel-default">
        <div class="panel-heading">
            Chat Code
        </div>
        <div class="panel-body">
            <pre>{{#if isV1}}
                <code>let chatConfig = {{chatConfig}};

ININ.webchat.create(chatConfig, function(err, webchat) {
    if (err) {
        console.error(err);
        throw err;
    }

{{#if openInNewWindow}}
    webchat.renderPopup({
        width: 400,
        height: 400,
        title: 'Chat'
    });
{{else}}
    webchat.renderFrame({
        containerEl: 'chat-container'
    });
{{/if}}
});</code>{{else}}<code>&lt;script src=&quot;https://apps.{{environmentTld}}/widgets/9.0/cxbus.min.js&quot; onload=&quot;javascript:CXBus.configure({debug:false,pluginsPath:'https://apps.{{environmentTld}}/widgets/9.0/plugins/'}); CXBus.loadPlugin('widgets-core');&quot;&gt;&lt;/script&gt;

&lt;script&gt;
  window._genesys = {{v2ConfigDisplay}};

  function getAdvancedConfig() {
    return {{advancedConfig}};
  }

  const customPlugin = CXBus.registerPlugin('Custom');
&lt;/script&gt;

&lt;button type=&quot;button&quot; id=&quot;chat-button&quot; onclick=&quot;customPlugin.command('WebChat.open', getAdvancedConfig());&quot;&gt;Start Chat&lt;/button&gt;</code>{{/if}}
            </pre>
        </div>

    </div>
    {{/unless}}
    <div id="chat-container" style="height:600px"></div>

</div>


<img src="assets/images/agent.jpg" id='agentAvatar' class="hide" />
<img src="assets/images/companylogo.png" id='companyLogoSmall' class="hide" />
<img src="assets/images/PC-blue-nomark.png" id='companyLogo' class="hide" />
